.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    position: relative;
    transition: height 0.5s ease; /* Adiciona transição suave */
}

.titleHeader {
    text-align: center;
    z-index: 1;
    color: #fff;
}

.vidBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.vidBackground video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
